# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse files
.project
.classpath
.settings/
bin/

# Ignore everything in specific folders
resources/Downloads/
resources/ffmpeg/

# Ignore all files that start with "stream_" and end with ".sdp" in resources/
resources/stream_*.sdp
